@import "tailwindcss";

@theme {
    --color-text: #FFFFFF;
    --color-background: #000000;
    --color-background_secondary: #3E3939;
    --color-primary: #8E1616;
    --color-secondary: #E23C52;
    --color-accent: #E52D2A;
}

html {
    font-family: "Onest Variable", system-ui, sans-serif;
    color: var(--color-text);
    background: rgb(32, 32, 32)
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
}

/*CONTAINER ALIGNMENT*/
#container {
    padding-inline: 5vh;
  }
  
@media (min-width: 1650px) {
    #container {
        padding-inline: 50vh;
    }
}

.clip_triangle_shape {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}