@import "tailwindcss";

html {
    background: repeating-linear-gradient(45deg, #000000, #000000 2rem, #0f0f0f 20rem);
    background-attachment: fixed;
    background-size: 100% 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--color-text);
}

/*CONTAINER ALIGNMENT*/
.container-element {
  padding-inline: 5vh;
  min-height: 100vh;        /* asegura cubrir toda la pantalla */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;        /* ajusta a algo más razonable */
  padding-bottom: 5rem;
  box-sizing: border-box;   /* importante para que padding no sume extra */
}
  
@media (min-width: 1650px) {
    .container-element {
        padding-inline: 50vh;
    }
}
/*CONTAINER ALIGNMENT*/

.clip_triangle_shape {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

/* Glassmorphism effect */
.navbar-glass {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
}