---
import ContactForm from "../ContactForm.tsx"
---

<footer id="contact" class="bg-neutral-800 text-white py-6 space-y-10">
    <h1 class="text-center">Contacto</h1>
    <div class="w-full flex justify-center">
        <ContactForm client:only="react"/>
    </div>
    <div class="mx-auto text-left text-xs">
    <div class="flex justify-center gap-4 py-5">
        <p>&copy; 2025 Joseph Ugalde Murillo and DELTA D&D All rights reserved.</p>
        <p>&copy; 2025 Delta Development and Design</p>
        <p>&copy; 2025 Joseph Ugalde Murillo</p>
    </div>
  </div>
</footer>