---

---

<section id="hero" class="container-element flex justify-center items-center">
	<div class="text-left space-y-3">
		<span class="text-xl text-left text-secondary font-semibold">
			Desarrollador Web | Ingeniero de Software
		</span>
		<h2 class="text-5xl font-bold bg-gradient-to-r from-neutral-200 to-neutral-700 bg-clip-text text-transparent pb-2">
			Joseph Ugalde
		</h2>
		<p class="text-left text-balance text-xl/7 text-neutral-400 font-semibold w-full">
			Soy un apasionado <span class="text-secondary/80">Desarrollador Web y estudiante de Ingeniería en Software</span> costarricense. Me encanta aprender nuevas tecnologías y mejorar mis habilidades. 
			Actualmente busco oportunidades para aplicar mis conocimientos y crecer profesionalmente.
		</p>
		<div class="flex gap-x-5 mt-5">
			<button class="bg-neutral-800 text-secondary px-5 py-2 rounded-xl border border-secondary hover:bg-secondary hover:text-black cursor-pointer transition-all">
				Contáctame
			</button>
			<a href="https://www.linkedin.com/in/joseph-ugalde-m-0b4b4227a/" class="bg-neutral-800 flex items-center gap-2 px-5 rounded-full border border-neutral-500 hover:bg-[#0077b5] hover:border-[#0077b5] cursor-pointer transition-all">
				<i class="fab fa-linkedin fa-2x"></i>
				Linkedin
			</a>
			<a href="https://github.com/DELTA2507" class="bg-neutral-800 flex items-center gap-2 px-5 rounded-full border border-neutral-500 hover:invert cursor-pointer transition-all">
				<i class="fab fa-github fa-2x"></i>
				GitHub
			</a>
		</div>
	</div>
</section>