---
const links = [
	{ name: 'Inicio', href: '/' },
	{ name: 'Experiencia', href: '#' },
	{ name: 'Proyectos', href: '#' },
	{ name: 'Contacto', href: '#' },
]
---

<nav class="flex justify-center">
	<ul class="w-full flex justify-evenly md:justify-center md:gap-10 p-5 bg-neutral-800">
		{links.map(link => (
			<li>
				<a class="hover:text-secondary hover:underline hover:underline-offset-8 transition-all text-neutral-300 font-semibold" 
					rel="noopener noreferrer" 
					target="_blank"
					aria-label={link.name} 
					aria-current={link.href === '/' ? 'page' : undefined}
					href={link.href}
				>
					{link.name}
				</a>
			</li>
		))}
	</ul>
</nav>