---
import AnimatedStaggeredContainerExperience from "../components/AnimatedStaggeredContainerExperience";
import AnimatedTitle from "../components/AnimatedTitle";
import experience from "../data/experience";
---
<section id="experience" class="container-element space-y-10 bg-neutral-900">
    <AnimatedTitle title="Experiencia" icon="fa-briefcase" client:load/>
    <AnimatedStaggeredContainerExperience experience={experience} client:load/>
</section>