---
import AnimatedTitle from "../components/AnimatedTitle";
import AnimatedStaggeredContainerCards from "../components/AnimatedStaggeredContainerCards";

const projectPages = import.meta.glob('../content/projects/*.md', { eager: true });
const projects = Object.values(projectPages).map((file: any) => file.frontmatter);
---

<section id="projects" class="container-element space-y-10">
    <AnimatedTitle title="Proyectos" icon="fa-code" client:load/>
    <AnimatedStaggeredContainerCards projects={projects} client:load/>
</section>
