---

---

<section id="container" class="flex justify-center items-center py-32 px-96 rounded-lg space-x-24">
	<div class="text-left space-y-3 w-1/2">
		<span class="text-xl text-left text-secondary/70 font-thin">
			Desarrollador Web | Ingeniero de Software
		</span>
		<h1 class="text-5xl font-bold bg-gradient-to-r from-neutral-200 to-neutral-700 bg-clip-text text-transparent pb-2">Joseph Ugalde</h1>
		<p class="text-left text-xl/7 text-neutral-400 font-semibold w-full">
			Soy apasionado <span class="text-secondary/80">Desarrollador Web y estudiante de Ingeniería en Software</span>. Me encanta aprender nuevas tecnologías y mejorar mis habilidades. 
			Actualmente estoy buscando una oportunidad para aplicar mis conocimientos y crecer profesionalmente.
		</p>
		<div class="flex gap-x-5 mt-5">
			<button class="bg-neutral-800 text-neutral-400 px-5 py-2 rounded-xl border border-neutral-500 hover:invert cursor-pointer transition-all">
				Contáctame
			</button>
			<button class="bg-neutral-800 px-5 rounded-full border border-neutral-500 hover:invert cursor-pointer transition-all">
				Linkedin
			</button>
			<button class="bg-neutral-800 px-5 rounded-full border border-neutral-500 hover:invert cursor-pointer transition-all">
				GitHub
			</button>
		</div>
	</div>
	<div>
		<img class="clip_triangle_shape w-96 h-96" src="https://www.twinoakslandscape.biz/wp-content/uploads/2019/01/bigstock-186312049.jpg" alt="Joseph Ugalde" class=" w-96 h-96 shadow-md shadow-accent/50"/>
	</div>
</section>