---
const links = [
	{ name: 'Inicio', href: '/' },
	{ name: 'Experiencia', href: '#' },
	{ name: 'Proyectos', href: '#' },
	{ name: 'Contacto', href: '#' },
]
---

<nav id="container" class="flex justify-center items-center p-4 px-24">
	<ul class="flex gap-x-14 px-5 py-2 bg-neutral-800 opacity-80 rounded-full shadow-md shadow-accent/50">
		{links.map(link => (
			<li>
				<a class="hover:text-accent hover:underline hover:underline-offset-8 transition-all text-neutral-300 font-semibold" 
					rel="noopener noreferrer" 
					target="_blank"
					aria-label={link.name} 
					aria-current={link.href === '/' ? 'page' : undefined}
					href={link.href}
				>
					{link.name}
				</a>
			</li>
		))}
	</ul>
</nav>