---
import AnimatedTitle from "../components/AnimatedTitle";
import AnimatedStaggeredContainerProjects from "../components/AnimatedStaggeredContainerProjects";
import projects from "../data/projects";
---

<section id="projects" class="container-element space-y-10">
    <AnimatedTitle title="Proyectos" icon="fa-code" client:load/>
    <AnimatedStaggeredContainerProjects projects={projects} client:load>
</section>